@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --shadow-offset: 5px;
  }

  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f5f5f5; /* Background of the scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ff6b6b; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid #2c363f; /* Optional border for better appearance */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff4d4d; /* Darker shade on hover */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.logo {
  font-family: "Teko", serif;
}

@layer components {
  .neubrutalism-shadow {
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0 #2c363f;
  }
}
